/* 900px body layout */

h1, h2, h3, h4, h5, h6{
	font-family: jaldi;
}

/* Headlines */
h1, h2, h3, h4, h5, h6 { font-family: Jaldi, sans-serif; color: #262626; font-weight: 400; line-height: 1.1; margin: 25px 0 10px; }
h1 { font-size: 2.0em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }



* {
	box-sizing: border-box;
}
body {
	font-size: 18px;
	color: #444;
}
/* Page Header And Navigation */
body > header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 3rem;
	z-index: 1000;
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
	position: fixed;
	top: 0;
	max-width: 100%;
	width: 100%;
	/* overflow: hidden; */
	height: 75px;
}

body > header h1 {
	margin: 0;
	font-size: 40px;
	display: flex;
	order: 0;
}
body > header h1 img {
	max-width: 160px;
	width: auto !important;
	filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
}

body > header nav {
	color: #565656;
	font-size: 17px;
	line-height: 24px;
	margin-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}

body > header nav a {
	text-decoration: none;
}
body > header nav a:hover {
	text-decoration: underline;
}
nav.breadcrumbs {
	flex-grow: 1;
	order: 2;
	margin-left: 2rem;
}

.language {
	order: 4;
	margin: 0;
	position: relative;
}
.language input {
	display: none;
}
.language label {
	opacity: 0.75;
	cursor: pointer;
}
.language img {
	width: 32px !important;
	margin: 0 auto;
}
.language label:hover,
.language label:focus,
.language :checked ~ label {
	opacity: 1;
}
.language-select-popup {
	background: #f9fafb;
	border: 1px solid #ced1d4;
	padding: 15px;
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, 10px);
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.language-select-popup:before {
	content: "";
	position: absolute;
	top: -8px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 16px;
	height: 8px;
	background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' view-box='0 0 16 8' width='16' height='8'><path d='M0 8L8 0L16 8' fill='%23f9fafb' stroke='%23ced1d4' stroke-width='1.1'/></svg>")
		no-repeat center;
}
.language :checked ~ .language-select-popup {
	display: grid;
}
.language-select-popup img {
	margin: 5px;
}

/* Table Of Contents */
main {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

article {
	padding: 2rem 1rem 6rem 1rem;
}

article img {
	width: 70% !important;
}
@media (min-width: 992px) {
	main {
		flex-direction: row;
	}
article {
		width: 60%;
		padding: 6rem 1rem 8rem 1rem;
		margin-left: 25%;
	}
}
aside.toc {
	font-size: 17px;
	color: #595959;
	position: relative;
	top: 4rem !important;
	padding: 2rem 1rem 4rem 2rem;
}

.toc ul a {
	color: #595959;
	text-decoration: none;
}
.toc ul a:hover {
	color: #444;
	text-decoration: underline;
}
.toc ul {
	list-style: none;
}
.toc li {
	position: relative;
}
.toc li.offset {
	margin-left: -1em;
}
.toc li:not(.offset):before {
	/** content: "-"; */
	position: absolute;
	left: -0.6em;
}

@media screen and (min-width: 992px) {
	aside.toc {
		position: fixed;
		bottom: 0;
		overflow: hidden;
		overflow-y: auto;
		width: 25%;
		line-height: 20px;
		padding: 3rem 1rem 4rem 2rem;
	}
	.toc::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: #f5f5f5;
	}
	.toc::-webkit-scrollbar {
		width: 10px;
		background-color: #f5f5f5;
	}
	.toc::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
		background-color: #b3b3b3;
	}
	.toc ul:not(.offset) {
		margin: 7px 0 0;
	}
	.toc li {
		margin-bottom: 7px;
	}
	aside.toc.livetoc {
		/* position: fixed; */
	}
	.livetoc a.active {
		color: #04ab90;
		font-weight: bold;
	}
}}
/* @media screen and (min-width: 1800px) {
	.toc {
		width: 250px;
	}
} */

nav.pagination {
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
	margin-bottom: 15px;
}
nav.pagination div {
	flex-shrink: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}
nav.pagination div:first-child {
	margin-right: 5px;
}
nav.pagination div:last-child {
	margin-left: 5px;
}
@media screen and (max-width: 500px) {
	nav.pagination {
		flex-direction: column;
		text-align: center;
	}
	nav.pagination div:first-child {
		margin: 0 0 0 5px;
	}
}

/* Author Card */
aside.sidebar {
	display: none;
}
@media (min-width: 992px) {
	aside.sidebar {
		display: block;
		color: #595959;
		font-size: 17px;
		padding: 8rem 2rem 4rem 1rem;
		width: 15%;
	}
}
.sidebar h2,
.sidebar h3 {
	color: #222;
}
.sidebar h2 {
	margin: 25px 0 10px;
	font-size: 26px;
}
.sidebar h3 {
	margin: 25px 0 10px;
	font-size: 21px;
}
.sidebar p {
	margin-bottom: 10px;
}
.sidebar pre {
	padding: 3px 6px;
	font-size: 14px;
	margin-bottom: 0;
}
.sidebar hr {
	margin: 30px 0;
}
.sidebar .bulletlink {
	display: list-item;
	list-style: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 4' width='6' height='8'><circle cx='1' cy='1' r='1' fill='#181818'/></svg>");
	color: #181818;
	margin-left: 1em;
}

@media (min-width: 992px) {
	.sidebar {
		width: 15%;
		padding: 1rem 2rem;
	}
	.sidebar > hr:first-child {
		display: none;
	}
	.sidebar > hr:first-child + * {
		margin-top: 0;
	}
}
@media print {
	.sidebar footer > a {
		display: none;
	}
}

/* Footer */
footer {
	font-size: 17px;
	line-height: 20px;
	color: #595959;
	position: relative;
	z-index: 2000;
	background: #fff;
	padding: 15px;
	text-align: center;
	height: px;
	border-top: 1px solid #f2f2f2;
}
footer hr {
	background: transparent;
}
footer p {
	margin: 0 0 5px;
}
@media screen and (max-width: 930px) {
	footer {
		margin-bottom: 0;
	}
}

/* Responsive Admonition Boxes */
[admonition] {
	background: #f9fafb;
	color: #000;
	border-radius: 3px;
	padding: 15px;
	margin: 10px 0 25px 53px;
	border: 1px solid #ced1d4;
	border-left: 5px solid #595959;
	position: relative;
}
@media screen and (min-width: 1036px) {
	[admonition] {
		margin-left: 0;
	}
}
[admonition]:before {
	content: "";
	position: absolute;
	top: 8px;
	left: -45px;
	width: 32px;
	height: 32px;
	font-size: 32px;
	background: transparent no-repeat center center / contain;
}

[admonition="note"] {
	border-left-color: #08f;
}
[admonition="note"]:before {
	background-image: url("data:image/svg+xml,<svg viewBox='0 0 85 85' xmlns='http://www.w3.org/2000/svg'><path d='M42.5.003C19.028.003 0 19.031 0 42.503s19.028 42.5 42.5 42.5S85 65.976 85 42.503 65.972.003 42.5.003zm-.212 66.267s-1.972 1.311-3.32 1.305l-.191.087.003-.087a4.316 4.316 0 0 1-.855-.125l-.426-.105c-2.354-.584-3.6-2.918-3.014-5.271l3.277-13.211 1.479-5.967c1.376-5.54-4.363 1.178-5.54-1.374-.777-1.687 4.464-5.227 8.293-7.896 0 0 1.97-1.309 3.319-1.304.121-.056.192-.087.192-.087l-.005.087c.285.013.57.053.857.124l.426.106a4.39 4.39 0 0 1 3.204 5.318l-3.276 13.212-1.482 5.967c-1.374 5.54 4.27-1.204 5.446 1.351.777 1.685-4.559 5.201-8.387 7.87zm8.306-41.294a6.147 6.147 0 1 1-11.933-2.961 6.147 6.147 0 1 1 11.933 2.961z' fill='%2308f'/></svg>");
}

[admonition] header {
	background: #e7e9ec;
	margin: -15px -15px 15px;
	padding: 5px 15px;
	font-weight: bold;
	border-bottom: 1px solid #ced1d4;
}

.actions {
	margin-top: 10px;
}
.actions a {
	display: inline-block;
	padding: 2px 5px;
	margin: 3px;
	background: #e7e9ec;
	color: #222;
	text-decoration: none;
	border-radius: 3px;
	transition: all .2s;
}
.actions a:hover {
	background: #ced1d4;
	color: #000;
}
.actions .svg-inline--fa {
	width: 1.3em;
}
.actions a .svg-inline--fa {
	font-size: 0.9em;
}

.error404 {
	padding: 120px 0 100px;
	text-align: center;
	color: #666;
}
.error404 strong {
	font-size: 50px;
	text-transform: uppercase;
}

@media screen and (max-width: 930px) {
	body > header h1 {
		float: left;
	}
	.search {
		float: right;
		margin-bottom: 25px;
		margin-top: 5px;
	}
	.language {
		float: right !important;
	}

	nav.breadcrumbs {
		clear: both;
		width: 100%;
		text-align: center;
		font-size: 19px;
	}
	nav.pagination {
		margin-right: 0;
	}
	body {
		margin-top: 0;
	}
}
@media screen and (max-width: 500px) {
	body > header > * {
		display: block;
		float: none !important;
		margin: 10px 0 0 !important;
	}
	body > header h1 {
		justify-content: center;
		align-items: center;
	}
	.search input[type=text] {
		flex-grow: 1;
	}
	.search {
		margin-bottom: 18px !important;
	}
	.language-select-popup {
		left: 100%;
		transform: translate(-100%, 10px);
	}
	.language-select-popup::before {
		left: auto;
		right: 0;
	}
	nav.breadcrumbs {
		/* display: inline; */
		display: none;
	}
}
@media print {
	body > header {
		background: transparent;
	}
	.search,
	body > header nav.pagination {
		display: none;
	}
}
pre,
code,
kbd,
samp,
var {
	background: #f8f8f8;
}
code[class*="language-"] {
	padding: 0.5rem;
}
a {
	overflow-wrap: break-word;
}
